{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('search.song') }}">Search for songs</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for song in songs %}
    <article class="post">
      <header>
        <div>
          <h1>{{ song['name'] }}</h1>
          <div class="about">by {{ song['artist_id'] }} </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}