{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Get Playlits{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('home.index') }}">Go to profile</a>
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
    <label for="user_id">Your spotify username</label>
    <input name="username" id="username" value="{{ request.form['username'] }}" required>
    <input type="submit" value="Search">
</form>
{% if user %}
<a class="action" href="{{ user['external_urls']['spotify'] }}"">Go to spotify user</a>
{% endif %}
<div class="songs">
{% for playlist in playlists %}
<article class="song">
    <header>
        <div>
            <h1>{{ playlist['name'] }}</h1>
            <a class="action" href="/playlist/{{ playlist['id'] }}"">See songs</a>
            <a class="action" href="{{ playlist['external_urls']['spotify'] }}"">Go to spotify</a>
            <a class="action" href="/playlist/track?username={{ g.user['username'] }}&playlist_id={{ playlist['id'] }}&spotify_url={{ playlist['external_urls']['spotify'] }}">Track playlist</a>
        </div>
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
</div>
{% endblock %}