{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Song Search{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('search.song') }}">You Are</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="artist">Artist</label>
    <textarea name="artist" id="artist">{{ request.form['artist'] }}</textarea>
    <input type="submit" value="Search">
  </form>
{% endblock %}