{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Song Search{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('home.index') }}">Go to profile</a>
{% endif %}
{% endblock %}

{% block content %}
<a class="action" href="{{ url_for('search.search_playlists') }}">Search for playlists</a>
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="artist">Artist</label>
    <input name="artist" id="artist" value="{{ request.form['artist'] }}" required>
    <input type="submit" value="Search">
</form>
<div class="songs">
{% for song in songs %}
<article class="song">
    <header>
        <div>
            <h1>{{ song['name'] }}</h1>
            <div class="about">by {{ song['artists'][0]['name'] }}</div>
            <a class="action" href="{{ song['external_urls']['spotify'] }}"">Go to spotify</a>
            <form>
                <input name="song_id" type="hidden" value=""
                <a class="action" href="{{ url_for('playlist.playlist') }}"">Add to my songs</a>
            </form>
        </div>
    </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
</div>
{% endblock %}